div.m{
color:black;
margin:0% 5% 0% 7% ;

font-family:alegeria;
font-size:100%;
width:25%;
height:500px;
display:inline-block;
background-color:white;
text-align:left;
padding:5% 0%;
}
.m:hover
{
	text-shadow:1px 1px;
	font-size:35px;
	
}
div.n{
color:black;
margin:0% 5% 0% 0% ;
font-family:alegeria;
font-size:30px;
width:25%;
height:500px;
display:inline-block;
text-align:left;
background-color:white;
padding:5% 0%;
}
.n:hover
{
	text-shadow:1px 1px;
	font-size:35px;
	
}
div.o{
color:black;
margin:0% 7% 0% 0% ;

font-family:alegeria;
font-size:30px;
width:25%;
height:500px;
display:inline-block;
text-align:left;
background-color:white;
padding:5% 0%;
}
.o:hover
{
	text-shadow:1px 1px;
	font-size:35px;
	
}
div.p{
color:black;
margin:0% 5% 0% 5%;

font-family:alegeria;
font-size:30px;
width:40%;
height:500px;
display:inline-block;
text-align:left;
background-color:white;
padding:5% 0%;
}
.p:hover
{
	text-shadow:1px 1px;
	font-size:35px;
	
}
div.q{
color:black;
margin:0% 5% 0% 4% ;
font-family:alegeria;
font-size:30px;
width:40%;
height:500px;
display:inline-block;
text-align:left;
background-color:white;
padding:5% 0%;
}
.q:hover
{
	text-shadow:1px 1px;
	font-size:35px;
	
}
div.m1{
color:black;
margin:5% 2% 2% 2%;

font-family:alegeria;
font-size:30px;
text-align:center;
padding:0% 0%;
}
div.m2{
color:black;
margin:0% 2% 5% 2%;
font-family:alegeria;
font-size:30px;
text-align:center;
padding:0% 0%;
}
div.n1{
color:black;
margin:5% 2% 2% 2%;

font-family:alegeria;
font-size:30px;
text-align:center;
padding:0% 0%;
}
div.n2{
color:black;
margin:0% 2% 5% 2%;
font-family:alegeria;
font-size:30px;
text-align:center;
padding:0% 0%;
}
div.o1{
color:black;
margin:5% 2% 2% 2%;

font-family:alegeria;
font-size:30px;
text-align:center;
padding:0% 0%;
}
div.o2{
color:black;
margin:0% 2% 5% 2%;
font-family:alegeria;
font-size:30px;
text-align:center;
padding:0% 0%;
}
div.p1{
color:black;
margin:5% 2% 2% 2%;

font-family:alegeria;
font-size:30px;
text-align:center;
padding:0% 0%;
}
div.p2{
color:black;
margin:0% 2% 5% 2%;
font-family:alegeria;
font-size:30px;
text-align:center;
padding:0% 0%;
}div.q1{
color:black;
margin:5% 2% 2% 2%;

font-family:alegeria;
font-size:30px;
text-align:center;
padding:0% 0%;
}
div.q2{
color:black;
margin:0% 2% 5% 2%;
font-family:alegeria;
font-size:30px;
text-align:center;
padding:0% 0%;
}
li a{
	display:block;
	text-decoration:none;
	text-align:left;
	padding:10px;
	
	color:#F0D382;
	
}
li{
	float:left;
		width:20%;
}
a:link{
	color:#F0D382;
	text-decoration:none;
}
a:hover{
	color:#3FC2F0 ;
	
}

ul.abc{
	font-weight:900;
	background-color:#484955;
	top:0px;
	left:0px;
	position:fixed;
	width:100%;
	list-style-type: none;
	padding:2%;
    margin:0%;
	font-size:40px;
	overflow:hidden;
	
}
p {
	font-size:40px;
	
}
p.h{
	font-size:30px;
	color:black;
	
}
body{
	
	background-color:white;
	font-family:alegeria;
	color:black;
}
div.f{
	background-color:#000000;
	padding:0%;
	text-align:center;
	width:100%;
	height:20%;
	margin:0%;
	left:0px;
	color:white;
	bottom:0px;
	
	
}
form{
	margin:0px; 
	font-size:40px;
	color:black;
	
	
}
div.pic{
	width:25%;
	height:10%;
	margin:10px 100px;
	padding:0%;
	
	display:inline-block;
	
	
}
iframe{
	background-color:white;
	color:black;
	border:2px solid #AFF555;
}
input{
	height:40px;
	width:30%;
	font-size:30px;
	
}
div.l{
	width:75%;
	height:5%;
	margin:0px;
	top:0%;
	left:25%;
	float:left;
	position:fixed;
	background-color:#FCCF69;
	color:#2D89F7;
	text-align:center;
	padding:2px 2px 0px 2px;
	font-size:50px;
	font-family:georgia;
}
div.t1{
	width:15%;
	height:10%;
	margin:0px;
	top:5%;
	left:25%;
	float:left;
	position:fixed;
	background-color:#FCCF69;
	color:#2D89F7;
	text-align:center;
	text-shadow: 0 0 3px #FF0000;
	padding:2px 2px 0px 2px;
	font-size:300%;
	font-family:georgia;
}
div.t2{
	width:15%;
	height:10%;
	margin:0px;
	top:5%;
	left:40%;
	position:fixed;
	background-color:#FCCF69;
	color:#2D89F7;
	text-align:center;
	text-shadow: 0 0 3px #FF0000;
	padding:2px 2px 0px 2px;
	font-size:300%;
	font-family:georgia;
}
div.t3{
	width:15%;
	height:10%;
	margin:0px;
	top:5%;
	left:55%;
	position:fixed;
	background-color:#FCCF69;
	color:#2D89F7;
	text-align:center;
	text-shadow: 0 0 3px #FF0000;
	padding:2px 2px 0px 2px;
	font-size:300%;
	font-family:georgia;
}
div.t4{
	width:30%;
	height:10%;
	margin:0px;
	top:5%;
	left:70%;
	position:fixed;
	background-color:#FCCF69;
	color:blue;
	text-align:center;	
    padding:2px 2px 0px 2px;
	font-size:300%;
	font-family:georgia;
	
}

div.k{
	width:25%;
	top:0%;
	left:0%;
	height:15%;
	float:left;
	position:fixed;
	text-shadow:3px 3px 5px black;
	background-color:#FCCF69;
	color:#2D89F7;
	text-align:center;
	font-family:georgia;
	font-size:300%;
}
div.par
{
	width:100%;
	
	
}

div.bloc
{	width:10%;
	display:inline-block;
	border: 5px solid black;
	text-align:center;
	height:200px;
	font-size:100%;
}
.bb
{
	height:200px;
	width:300px;
	font-size:100%;
	margin-left:10em;
	
}
.bq
{	
	margin:0% 0%;
	width:100%;
	height:300px;
	padding:100px 0px 0px 0px;
	color:white;
	background-image:url("bq4.jpg");
	text-align:center;
	background-size:100% 100%;
	
}
hr
{
	 border: none;
    height: 2px;
    color:white; 
    background-color:white;

	
}	
span
{
	font-size:300%;
	
	
}
span:hover
{
	color:white;
	text-shadow:2px 2px;
	
}	
h2
{
	font-size:50px;
	font-weight:100;
	
}	
	
